<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base title
        {% endblock %}
    </title>
</head>
<body>


    <header>
        {% block header %}
            Base header
        {% endblock %}
    </header>


    <main>
        {% block main %}
            Base main content
        {% endblock %}
    </main>


    <footer>
        {% block footer %}
            <div>Base footer </div>
            <div>
                Now: {% now "d/m/Y" %}
            </div>

            <div>
                {% now "l" as current_weekday %}
                Today is {{ current_weekday|lower }}
            </div>

            <div>
                It is - {% now "H:i" %}
            </div>
        {% endblock %}
    </footer>


</body>
</html>