{% extends "shopapp/base.html" %}


{% block title %}
    Orders list
{% endblock %}


{% block main %}
    <h1>Orders:</h1>
    <div>

        {% if orders %}
            {% for order in orders %}
                <div>
                    <p>Order by: {% firstof order.user.first_name order.user.username %} </p>
                    <p>Delivery address: {{ order.delivery_address }} </p>
                    <p>Promocode: <code>{{ order.promocode }}</code> </p>
                    <p>Created at: {{ order.created_at }} </p>
                    <div>
                        Products in order:
                        <ul>

                            {% for product in order.products.all %}
                                <li>{{ product.name }} for ${{ product.price }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <h4>No orders yet</h4>
        {% endif %}



    </div>
{% endblock %}
