{% extends "shopapp/base.html" %}


{% block title %}
    Products list
{% endblock %}


{% block main %}
    <style>
    .products-block {
        text-align: center;
    }
    .product-block {
        border: 2px black solid;
        border-radius: 5px;
        background-color: #cbf0ff;
        margin: 2px;
        padding: 2px;
        display: inline-block;
    }
    .product-block p {
        margin: 0 1px;
    }

    </style>

    <div class="products-block">
        <h1>Products:</h1>

        {% if products %}
            <div>
                {% for product in products %}
                    <div class="product-block">
                        <p><a href="{% url 'shopapp:product_details' pk=product.pk %}">
                            Name: {{ product.name }}</a></p>
                        <p>Price: {{ product.price }}</p>
                        <p>Discount: {% firstof product.discount "no discount" %} </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3>No products yet</h3>
        {% endif %}</div>

    <div>
        {% if perms.shopapp.add_product %}
        	<a href="{% url 'shopapp:product_create' %}">Create a new product</a>
        {% endif %}
    </div>

{% endblock %}
