{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
  {% translate 'Products list' %}
{% endblock %}


{% block main %}
  <style>
      .products-block {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-row-gap: 10px;
      }
      .product-block {
          width: 180px;
          height: 190px;
          border: 2px black solid;
          border-radius: 5px;
          background-color: #cbf0ff;
          margin: 2px auto;
          padding: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .product-block p {
          margin: 1px auto;
          text-align: center;

      }
      .product-block img {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }

  </style>

  <div >
    <h1>{% translate 'Products' %}:</h1>

    {% if products %}
      <div>
        {% blocktranslate count products_count=products|length %}
          There is only one product.
          {% plural %}
          There are {{ products_count }} products.
        {% endblocktranslate %}
      </div>
      <br>
      <div class="products-block">
        {% for product in products %}
          <div class="product-block">
            <p><a href="{% url 'shopapp:product_details' pk=product.pk %}"
            >{% translate 'Name' context "product name" %}: {{ product.name }}</a></p>
            <p>{% translate 'Price' %}: {{ product.price }}</p>
            {% translate 'no discount' as no_discount %}
            <p>{% translate 'Discount' %}: {% firstof product.discount no_discount %} </p>

            {% if product.preview %}
              <img src="{{ product.preview.url }}" alt="product.preview.name">
            {% endif %}

          </div>
        {% endfor %}
      </div>

      <div>
        {% if perms.shopapp.add_product %}
          <a href="{% url 'shopapp:product_create' %}"
          >{% translate 'Create a new product' %}</a>
        {% endif %}
      </div>

    {% else %}

      {% url "shopapp:product_create" as create_product_url %}
      {% blocktranslate %}
        <h3>No products yet</h3>
        <a href="{{ create_product_url }}">Create a new one</a>
      {% endblocktranslate %}

    {% endif %}

  </div>
{% endblock %}
