{% extends 'myauth/base.html' %}

{% block title %}
	About me
{% endblock %}


{% block body %}
	<h1>User info</h1>
    {% if user.is_authenticated %}
    	<h2>Detail</h2>
        <div>Username: {% firstof user.username "No username" %}</div>
        <div>First name: {% firstof user.first_name "No first name" %}</div>
        <div>Last name: {% firstof user.last_name "No last name" %}</div>
        <div>Email: {% firstof user.email "No email" %}</div>
        <div>Bio: {{ user.profile.bio }}</div>
        <div>Agreement accepted: {{ user.profile.agreement_accepted }}</div>

        <div>
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="user.profile.avatar.name">
            {% else %}
                <p>No avatar upload yet</p>
            {% endif %}
        </div>

        <div>
            {% if user.profile %}
                {% if user.profile.avatar %}
                	<a href="{% url "myauth:about_me_avatar_update" pk=user.profile.pk %}">Change avatar</a>
                {% endif %}
            {% else %}
                <hr>
                <p>User {{ user }} have not profile.</p>
                <a href="{% url "myauth:profile_create" %}">Create profile</a>
            {% endif %}
        </div>

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
    <div>
        <br>
        <a href="{% url "myauth:users_list" %}">Back to users list</a>
    </div>
{% endblock %}