{% extends 'myauth/base.html' %}


{% block title %}
	Update profile
{% endblock %}


{% block body %}
    <h1>Update profile of user <em>'{{ profile.user }}'</em></h1>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update profile</button>
        </form>
    </div>

    <div>
        <hr>
        <a href="{% url 'myauth:user_details' pk=profile.user.pk %}">
            Back to user details
        </a>
    </div>


{% endblock %}