<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      Blog app
    {% endblock %}
  </title>
  <style>
    body {
        margin: 0;
    }
    #page_header {
        width: 100%;
        background-color: #98ebe3;
        text-align: center;
        margin: 0;
    }
    #page_body {
        margin: 10px;
    }
  </style>
</head>

<body>
  <div id="page_header">Blog app</div>
  <div id="page_body">
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>